TG_API_ID=api_id_here
TG_API_HASH=abcdef1234567890abcdef1234567890
TG_SESSION=session_string_here
TG_REPLY_TEXT='СООБЩЕНИЕ ПРИ ОШИБКЕ'
GEMINI_KEY=your_gemini_api_key_here
GEMINI_PROMPT='Ты — бот. Ты отвечаешь в комментариях на посты и комменты, будто это сам пишешь. ... ТЕБЕ НАПИСАЛИ СЛЕДУЮЩЕЕ, ПРИДУМАЙ ОТВЕТ НА ЭТО: «{text}»'
GEMINI_MODEL=gemini-2.5-flash
GEMINI_PROMPT_REPLY='Тебе написали ответный комментарий....... ТЕБЕ НАПИСАЛИ СЛЕДУЮЩЕЕ, ПРИДУМАЙ ОТВЕТ НА ЭТО: «{text}»'
PROMPT_IMAGE_TPL='Ты — бот. Тебе прислали картинку с текстом (или без)......... Вот текст, который был с картинкой (если он был): «{text}»
